/*-----------------------------------------------------------------
- Peyman.me UI
-----------------------------------------------------------------*/

// Variables
//------------------------------------------------
$blue: #1755F6;
$black: #0a0a14;

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #0a0a14;
}

/*-----------------------------------------------------------------
- Grid
-----------------------------------------------------------------*/
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
}
@media (max-width: 767px) {
    .row {
        display: block;
    }
}
.col {
    padding-right: 10px;
    padding-left: 10px;
    flex: 1;
}
@media (max-width: 767px) {
    .col {
        width: 100%;
    }
}
.col-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
}
.col-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
}
.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}
.col-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
}
.col-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
}
.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}
.col-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
}
.col-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
}
.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}
.col-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
}
.col-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%;
}
.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-right: 10px;
    padding-left: 10px;
}
@media (max-width: 767px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100%;
        max-width: none;
    }
}

/*-----------------------------------------------------------------
- Typography
-----------------------------------------------------------------*/
a{
    text-decoration: none;
    color: #757575;

    &:hover{
        color: #222222;
    }
}
