<template>
    <div>
        <header>
            <div class="container">
                <a href="/" id="logo">
                    <!--<img src="~/assets/images/logo-type-1.svg" alt="Peyman Eskandari" height="24">-->
                    <img src="~/assets/images/logo-type-2.svg" alt="Peyman Eskandari" height="20">
                </a>

                <div id="nav">
                    <a href="/about" class="">About</a>
                    <a href="/resume" class="">Resume</a>
                    <a href="/sketches" class="">Sketches</a>
                    <a href="/playlists" class="">Playlists</a>
                </div>
            </div>
        </header>
        <nuxt/>
        <footer class="container">
            <div class="contact">
                <p>Get in touch for any projects, or just to say hello :)</p>
                <a href="mailto:salam@peyman.me">salam@peyman.me</a>
            </div>
            <div class="copyright">© 2018 Peyman Eskandari</div>
        </footer>
    </div>
</template>

<style lang="scss" scoped>
    /*-----------------------------------------------------------------
    - Header
    -----------------------------------------------------------------*/
    header .container{
        height: 100px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    a#logo{
        font-family: "IBM Plex Sans", sans-serif;
    }
    #nav{
        a{
            margin-left: 15px;
            text-transform: uppercase;
            font-size: 13px;
        }
    }
    /*-----------------------------------------------------------------
    - Footer
    -----------------------------------------------------------------*/
    footer{
        justify-content: center;
        flex-direction: column;
        padding: 60px 0;
        margin-top: 60px;
        border-top: 2px solid #f8f8f8;
        text-align: center;

        .contact{
            margin-bottom: 40px;

            p{
                font-size: 16px;
                margin-bottom: 10px;
            }
            a{
                color: #1755F6;
                border-bottom: 1px solid #e7e7e7;

                &:hover{
                    color: darken(#1755F6, 20%);
                }
            }
        }
        .copyright{
            color: #aaa;
        }
    }
</style>
