<template>

    <div>

        <div id="intro" class="container">
            <h2>Hello. I’m Peyman</h2>
            <p class="p-2">
                A web/mobile designer and full-stack web &lt;<span>developer</span>/&gt;,
                <br>
                Who loves to make products for humans.
            </p>
            <div class="actions">
                <a href="#">Download Resume</a>
                <a href="mailto:salam@peyman.me">Get in touch</a>
            </div>
        </div>

        <div id="portfolio" class="container">

            <div class="row">

                <div class="col-7">
                    <a href="#" class="project">
                        <img src="@/assets/images/project-sample.jpg">
                        <div class="overlay">
                            <div class="title">FIFA Worldcup 2018 Redesign</div>
                            <div class="desc">UI Design</div>
                        </div>
                    </a>
                </div>

                <div class="col-5">
                    <a href="#" class="project">
                        <img src="@/assets/images/project-sample.jpg">
                        <div class="overlay">
                            <div class="title">FIFA Worldcup 2018 Redesign</div>
                            <div class="desc">UI Design</div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-5">
                    <a href="#" class="project">
                        <img src="@/assets/images/project-sample.jpg">
                        <div class="overlay">
                            <div class="title">FIFA Worldcup 2018 Redesign</div>
                            <div class="desc">UI Design</div>
                        </div>
                    </a>
                </div>

                <div class="col-7">
                    <a href="#" class="project">
                        <img src="@/assets/images/project-sample.jpg">
                        <div class="overlay">
                            <div class="title">FIFA Worldcup 2018 Redesign</div>
                            <div class="desc">UI Design</div>
                        </div>
                    </a>
                </div>

            </div>

        </div>

    </div>

</template>

<script>
    import Logo from '~/components/Logo.vue'

    export default {
        components: {
            Logo
        }
    }
</script>

<style lang="scss" scoped>
    #intro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 200px);
        margin-bottom: 50px;

        h2 {
            font-size: 48px;
            line-height: 1;
            letter-spacing: -2px;
            margin-bottom: 15px;
            font-weight: 400;
            font-style: italic;
        }

        p {
            display: inline-block;
            font-size: 24px;
            line-height: 34px;
            font-style: italic;
            margin: 0;
        }

        .actions {
            margin-top: 40px;

            a {
                display: inline-block;
                margin-right: 8px;
                padding: 14px 24px;
                background: #FFF;
                border: 1px solid #1755F6;
                box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
                color: #1755F6;
                line-height: 14px;
                transition: box-shadow 0.25s ease;

                &:hover {
                    background: #1755F6;
                    color: #FFF;
                }

                &:active {
                    box-shadow: 0 0 0 transparent;
                    background: darken(#1755F6, 5%);
                }
            }
        }
    }

    #portfolio a.project{
        display: inline-flex;
        width: 100%;
        height: 350px;
        background: #E7E7E7;
        margin-bottom: 20px;
        transition: all 0.4s ease;
        overflow: hidden;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#1755F6, 0.9);
            opacity: 0;
            transition: all 0.4s ease;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            line-height: 2;
            font-size: 24px;

            .title{
                font-weight: 600;
                font-style: italic;
            }
            .desc{
                font-size: 16px;
            }
        }

        &:hover{
            .overlay{
                opacity: 1;
            }
        }
    }
</style>
